:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
  --header-secondary-logo-color: #000000;
  --footer-secondary-logo-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --middle-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --body-bg-color: #ffffff;
  --btn-text-accent-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ---------------- HEADER ---------------- */
.company-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-color);
}
header .company-logo .secondary-color {
  color: var(--header-secondary-logo-color);
}
.link,
.link:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.contact-list-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
/* ---------------- HERO ---------------- */
.hero {
  background-color: var(--dark-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-accent-color);
  cursor: pointer;
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  color: #188ce8;
}
/* ---------------- FEATURES ---------------- */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ---------------- GALLERY ---------------- */
.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
/* ---------------- TEAM ---------------- */
.team {
  background-color: var(--middle-bg-color);
}
.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item {
  background-color: var(--body-bg-color);
}
/* ---------------- FOOTER ---------------- */
.footer {
  background-color: var(--dark-bg-color);
}
.company-logo .secondary-color {
  color: var(--footer-secondary-logo-color);
}
.address,
.address a:link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address .link:link {
  color: var(--footer-contact-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
/* ---------------- PORTFOLIO PAGE---------------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--middle-bg-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-accent-color);
}
.current-btn {
  background-color: var(--accent-color);
  color: var(--btn-text-accent-color);
}

.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio-item .link:visited {
  color: var(--main-text-color);
}
